@import "tailwindcss";

/* SF Pro Display Fonts */

/* Regular */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
  font-weight: 600;
  font-style: italic;
}

/* Black Italic */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Heavy Italic */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
  font-weight: 800;
  font-style: italic;
}

/* Light Italic */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Thin Italic */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
  font-weight: 200;
  font-style: italic;
}

/* UltraLight Italic */
@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf-pro-display/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
  font-weight: 100;
  font-style: italic;
}


/* Pixel Font */
@font-face {
  font-family: 'Lower Pixel';
  src: url('/fonts/Pixel/Lower Pixel Regular 400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


/* Signature Font */
@font-face {
  font-family: 'Deluna Signature';
  src: url('/fonts/signature/Deluna Signature.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




/* Rounded Font */
@font-face {
  font-family: 'Rounded';
  src: url('/fonts/sf-pro-rounded.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
}

body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}

/* ---------- Font Utility Classes ---------- */

.font-sfpro {
  font-family: 'SF Pro Display', sans-serif;
}

.font-pixel {
  font-family: 'Lower Pixel', monospace;
}

.font-signature {
  font-family: 'Deluna Signature', cursive;
}

.font-rounded {
  font-family: 'Rounded', sans-serif;
}



/* Color For Web/Web3.0 Animation */
.text-gradient {
  background: linear-gradient(90deg, #007cf0, #00dfd8, #7928ca);
  
  -webkit-text-fill-color: transparent;
}




/* no scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
